{{ services.lastSeen.setLastSeenMaxCount(config("Ceres.item.lists.last_seen_number")) }}

{{ component( "ZisterneInfo::Item.Components.VariationSelect" ) }}
{{ component( "ZisterneInfo::Item.Components.ItemImageCarousel" ) }}
{{ component( "ZisterneInfo::Item.Components.AddToWishList" ) }}
{{ component( "Ceres::Item.Components.OrderProperties" ) }}
{{ component( "Ceres::Item.Components.OrderPropertyList" ) }}
{{ component( "ZisterneInfo::Item.Components.SingleItem" ) }}
{{ component( "Ceres::Item.Components.GraduatedPrices" ) }}
{{ component( "ZisterneInfo::Basket.Components.AddToBasket" ) }}
{{ component( "Ceres::Item.Components.ItemBundle" ) }}

<single-item v-cloak template="#vue-single-item" :item-data="{{ item | json_encode }}" :variation-list-data="{{ variations | json_encode }}" :attribute-name-map="{{attributeNameMap | json_encode}}">
    <div slot="BeforePrice">{{ LayoutContainer.show("Ceres::SingleItem.BeforePrice", item.documents[0].data) }}</div>
    <div slot="AfterPrice">{{ LayoutContainer.show("Ceres::SingleItem.AfterPrice", item.documents[0].data) }}</div>
    <div slot="BeforeAddToBasket">{{ LayoutContainer.show("Ceres::SingleItem.BeforeAddToBasket", item.documents[0].data) }}</div>
    <div slot="AfterAddToBasket">{{ LayoutContainer.show("Ceres::SingleItem.AfterAddToBasket", item.documents[0].data) }}</div>
    <div slot="AdditionalContentAfterAddToBasket">{{ LayoutContainer.show("Ceres::SingleItem.AdditionalContentAfterAddToBasket", item.documents[0].data) }}</div>
    <div slot="AdditionalContentAfterVAT">{{ LayoutContainer.show("Ceres::SingleItem.AdditionalContentAfterVAT", item.documents[0].data) }}</div>
    <template slot="AddDetailTabs">{{ LayoutContainer.show("Ceres::SingleItem.AddDetailTabs", item.documents[0].data) }}</template>
    <template slot="AddDetailTabsContent">{{ LayoutContainer.show("Ceres::SingleItem.AddDetailTabsContent", item.documents[0].data) }}</template>
    <div slot="ItemListContainer">{{ LayoutContainer.show("Ceres::SingleItem.ItemListContainer", item) }}</div>
    <div slot="FeedbackContainer">{{ LayoutContainer.show("Ceres::SingleItem.FeedbackContainer", item) }}</div>
    <div slot="Eigenschaft">
      {%  for variationProperty in item.documents[0].data.variationProperties %}
      	 {% if variationProperty.property.id == 1 %}
                    <!-- {{ variationProperty.property.names.name }}-->
      	   <p>Bereits {{ variationProperty.values.value }} Mal verkauft.</p>
           <hr>
      	{% endif %}
      {% endfor %}
      </div>
      <div slot="Download">
        {%  for variationProperty in item.documents[0].data.variationProperties %}
           {% if variationProperty.property.id == 4 %}
             <span class="tabStop2"><a href="{{ variationProperty.values.value }}">Download Information</a></span>
             <hr>
          {% endif %}
        {% endfor %}
        </div>
      <div slot="CrossSellingAccessory">
         {{ component("ZisterneInfo::Containers.Components.ContainerItemList") }}
         {{ LayoutContainer.show("Ceres::SingleItem.ItemListContainer", accessory) }}
         <container-item-list :items="{{ accessory| json_encode }}"></container-item-list>
     </div>
</single-item>
