{% extends getPartial('page-design') %}

{% block PageBody %}

    {{ component( "ZisterneInfo::ItemList.Components.ItemList" ) }}
    {{ component( "ZisterneInfo::ItemList.Components.CategoryItem" ) }}
    {{ component( "Ceres::ItemList.Components.ItemListSorting" ) }}
    {{ component( "Ceres::ItemList.Components.Pagination" ) }}
    {{ component( "ZisterneInfo::ItemList.Components.Filter.ItemFilterList") }}
    {{ component( "Ceres::ItemList.Components.Filter.ItemFilterTagList") }}

<div class="page-content container {% if isSearch %} searchPage{% endif %}">
    {% if ceresConfig.header.showNavBars == "side" or ceresConfig.header.showNavBars == "both" %}
      <aside class="col-xs-3">
        <div class="sidebar-categories">
          <p class="asideHeadline">Kategorien</p>
            {{ include('ZisterneInfo::PageDesign.Partials.Header.SideNavigation.twig') }}
        </div>
        {{ LayoutContainer.show("Ceres::CategoryItem.SideNavBarBottom") }}
        <div class="filterPanel">
            <p class="asideHeadline">Produktfilter</p>
            {% set overrideSearchFilters = LayoutContainer.show("Ceres::Search.Filter", facets ) %}
            {% if overrideSearchFilters | trim is empty %}
                <item-filter-list :facet-data="{{ facets | json_encode }}"></item-filter-list>
            {% else %}
                {{ overrideSearchFilters }}
            {% endif %}
          </div>
          <p class="asideHeadline">Sortierung</p>
          <item-list-sorting template="#vue-item-list-sorting" :sorting-list="{{ searchOptions.sorting | json_encode }}" :default-sorting="{{ searchOptions.defaultSorting | json_encode }}"></item-list-sorting>
      <items-per-page
              template="#vue-items-per-page"
              :pagination-values="{{ searchOptions.itemsPerPage | json_encode }}"></items-per-page>
      </aside>
    {% endif %}
    <main class="{% if ceresConfig.header.showNavBars == "side" or ceresConfig.header.showNavBars == "both" %}col-sm-9 {% endif %}categoriegrid itemListView">

        <div class="row">
            <div class="col-xs-12">
                <h1 class="h2" id="searchPageTitle">{{ trans("Ceres::Template.itemSearchResults") }} {{ searchString }}</h1>
                <div id="vue-rendered-item-list" class="item-list-frame">
                    <item-list
                        :item-data="{{ itemList | json_encode }}"
                        :total-items-data="{{ itemCountTotal }}"
                        template="#vue-item-list">
                    </item-list>
                </div>

            </div>
        </div>
        {% if ceresConfig.pagination.position in ['bottom', 'top_bottom'] %}
            <div class="list-controls row">
                <div class="col-xs-12">
                    <pagination template="#vue-pagination"></pagination>
                </div>
            </div>
        {% endif %}
    </main>
</div>
{% endblock %}

{% block PartialHead %}
<script type="application/ld+json">{"@context": "http://schema.org","@type": "WebSite","url": "{{ webstoreConfig.domainSsl }}","potentialAction":{"@type": "SearchAction","target": "{{ webstoreConfig.domainSsl }}/search?query={search_term}","query-input": "required name=search_term"}}</script>
    {% if isSearch %}
        <title>{{ trans("Ceres::Template.itemSearchResults") }} {{ searchString }} | {{ trans("Ceres::Template.headerCompanyName") }}</title>
    {% endif %}
{% endblock %}
