{% set itemData = config("Ceres.item.data") | split(', ') %}
{% set enabledRoutes = config("IO.routing.enabled_routes") | split(', ') %}
{% set shippingCat = config("Ceres.global.shippingCostsCategoryId") %}

<script type="x/template" id="vue-single-item">
  <div>
    <div class="single container page-content">
      <div class="row">
        <div class="col-xs-12">
          <h1>${ currentVariation | itemName }
          </h1>
        </div>
        <div class="col-md-7 single-leftside">
          <div class="row">
            <div class="col-xs-12">
              <item-image-carousel image-url-accessor="url" template="#vue-item-image-carousel"></item-image-carousel>
            </div>
          </div>
        </div>

        <!-- ITEM DETAIL -->
        <div class="col-md-5 single-rightside">
          <p class="item-content-headline">Details</p>

          {% if ('item.shortDescription' in itemData or 'all' in itemData)%}
            <p class="single-description" v-if="currentVariation.texts.shortDescription !== ''" v-html="currentVariation.texts.shortDescription"></p>
          {% endif %}

          <graduated-prices template="#vue-graduated-prices"></graduated-prices>

          {% if ('item.recommendedPrice' in itemData or 'all' in itemData) %}
            <div class="crossprice" v-if="currentVariation.prices.rrp && currentVariation.prices.rrp.price.value > 0 && currentVariation.prices.rrp.price.value > currentVariation.prices.default.price.value">
              <del class="text-muted small">
                ${ currentVariation.prices.rrp.price.formatted }
              </del>
            </div>
          {% endif %}

          <span class="price h1">
            <span ref="variationTotalPrice" :content="currentVariation.prices.default.price.value">
              ${ variationTotalPrice | currency(currentVariation.prices.default.currency) }
            </span>
            <span :content="currentVariation.prices.default.currency"></span>
          </span>

          <div class="base-price text-muted" v-if="currentVariation.unit && !(currentVariation.unit.unitOfMeasurement === 'C62' && currentVariation.unit.content === 1)">
            <div>
              {{ trans("Ceres::Template.singleItemContent") }}
              <span>${ currentVariation.unit.content | numberFormat }</span>
              <span>${ currentVariation.unit.names.name }</span>
            </div>
            <div v-if="currentVariation.variation.mayShowUnitPrice">
              {{ trans("Ceres::Template.singleItemUnitPrice") }}
              <span class="base-price-value">
                ${ variationGraduatedPrice.basePrice }
              </span>
            </div>
          </div>

          <span class="vat">
            {% if services.customer.showNetPrices() %}{{ trans("Ceres::Template.singleItemExclVAT") }}
            {% else %}{{ trans("Ceres::Template.singleItemInclVAT") }}
            {% endif %}
            {{ trans("Ceres::Template.singleItemExclusive") }}
            <a {% if shippingCat is not empty %} data-toggle="modal" href="#shippingscosts" {% endif %} title="{{ trans("Ceres::Template.singleitemshippingcosts") }}" >{{ trans("Ceres::Template.singleItemShippingCosts") }}</a>
          </span>

          <hr>
          <!-- Variation -->
          <div class="varSelect" v-if="variations.length > 0">
            <variation-select template="#vue-variation-select" :attributes="attributeNameMap" :variations="variations" :preselect="currentVariation.variation.id" @is-valid-change="isVariationSelected = $event"></variation-select>
            <hr>
          </div>
          <!-- /Variation -->


          <div class="detail">
            <p class="articlenumber">
              <span>{{ trans("Ceres::Template.singleItemNumber") }}: </span>
                  <span>${ currentVariation.variation.number }</span>
                </p>
                <p v-if="currentVariation.variation.availability" :class="'availability availability_' + currentVariation.variation.availability.id">
                    <span>{{ trans("Ceres::Template.basketAvailability") }}: </span>
                  <span> ${ currentVariation.variation.availability.names.name }</span>
                </p>
              </div>

              <hr>

              <slot name="BeforePrice"></slot>
              <slot name="AfterPrice"></slot>

              <div v-if="currentVariation.variation.availability.id == 10">
                <p>{{ trans("Ceres::Template.itemStockAnfrage") }}</p>
                <slot name="BeforeAddToBasket"></slot>
              </div>

              <div class="cartBtn" v-if="currentVariation.variation.availability.id != 10">
                <add-to-basket
                  template="#vue-add-to-basket"
                  :item="$store.state.item.variation.documents[0].data"
                  :show-quantity="true"
                  :missing-order-properties="variationMissingProperties"
                  :is-variation-selected="isVariationSelected"></add-to-basket>
              </div>
              <slot name="AfterAddToBasket"></slot>

              <!-- ./ITEM DETAIL -->
            </div>

            <!-- ITEM DESCRIPTION -->
            <div class="col-xs-12">
                <div id="itemDesc">
                <h2>{{ trans("Ceres::Template.itemDescriptionTitle") }}</h2>
                  <div v-html="currentVariation.texts.description"></div>
                </div>
            </div>
          </div>
          <!-- ./ITEM DESCRIPTION -->

          <slot name="ItemListContainer"></slot>
        </div>
      </div>
    </script>
