{{ component( "Ceres::Basket.Components.AddToBasket" ) }}
{{ component( "Ceres::ItemList.Components.CategoryImageCarousel") }}
{{ component( "Ceres::ItemList.Components.ItemStoreSpecial" ) }}

{% set lang = services.sessionStorage.getLang() %}
{% set shippingCat = config("Ceres.global.shippingCostsCategoryId") %}

{% if enableCarousel is not defined %}
    {% if config("Ceres.item.enable_image_carousel") == "true" %}
        {% set enableCarousel = "true" %}
    {% else %}
        {% set enableCarousel = "false" %}
    {% endif %}
{% endif %}

<script type="x/template" id="vue-category-item">
    <article class="product-inner themefromItemList">
        <div class="thumb-inner">
            <div class="thumb-image">
                <div class="square-container">
                    <div class="square-inner main-image">
                        <category-image-carousel template="#vue-category-image-carousel"
                                                 :image-urls-data="itemData.images | itemImages(imageUrlAccessor)"
                                                 :alt-text="itemData | itemName"
                                                 :title-text="itemData | itemName"
                                                 :item-url="itemData | itemURL"
                                                 :show-dots="{{ ceresConfig.item.categoryShowDots | json_encode }}"
                                                 :show-nav="{{ ceresConfig.item.categoryShowNav | json_encode }}"
                                                 :enable-carousel="{{ enableCarousel }}"
                                                 ref="categoryImageCarousel">
                        </category-image-carousel>
                    </div>
                </div>
            </div>
            <!-- STORE SPECIALS -->
            <item-store-special v-if="storeSpecial || itemData.variation.bundleType == 'bundle'"
                                :store-special="storeSpecial"
                                :recommended-retail-price="itemData.prices.rrp"
                                :variation-retail-price="itemData.prices.default"
                                :decimal-count="decimalCount"
                                :bundle-type="itemData.variation.bundleType"></item-store-special>
            <!-- ./STORE SPECIALS -->

            <hr>
            <div class="thumb-content">
              <a :href="itemData | itemURL" class="thumb-title">
                  ${ itemData | itemName }
              </a>
              <div class="prices">
                      <del class="crossprice">
                        <span v-if="itemData.prices.rrp && itemData.prices.rrp.price.value > 0 && itemData.prices.rrp.price.value > itemData.prices.default.unitPrice.value">
                          {{ trans("ZisterneInfo::Template.UVP") }} ${ itemData.prices.rrp.price.formatted }</span>
                      </del>
                  <div class="price">
                      ${ itemData.prices.default.unitPrice.formatted }
                  </div>
                   <div class="artSold" v-if="itemData.variationProperties[0]">
                      <p>${ itemData.variationProperties[0].values.value } verkauft*</p>
                  </div>
              </div>
                <div class="category-unit-price" v-if="!(itemData.unit.unitOfMeasurement === 'C62' && itemData.unit.content === 1)">
                    <span>${ itemData.unit.content }</span>
                    <span>${ itemData.unit.names.name }</span>
                    <span v-if="itemData.variation.mayShowUnitPrice">| ${ itemData.prices.default.basePrice }</span>
                </div>
              </div>
                <hr>


        </div>
    </article>
</script>
